body{
    font-family: system-ui, sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
#alertBox {
  display: block !important;
}
main{
    background-color: #fff8ec;
    padding: 32px 24px;
}

.col-lg-7 {
    padding: 40px;
}

.recipe-title {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: #0f172a;
}

.recipe-desc {
    color: #64748b;
    font-size: 16px;
}

.badge-custom {
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 6px;
}
.bg-easy {
    background: #dcfce7;
    color: #16a34a;
}
.bg-asian {
    background: #dbeafe;
    color: #2563eb;
}

.action-btn {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 12px;
    background: #f3e8d6;
    color: #ff6a00;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.action-btn:hover {
  background: #ffe5c2;
}
.custom-alert {
    background: #f8d7da; 
    border-left: 5px solid #dc3545; 
    padding: 16px 18px;
    border-radius: 12px;
    gap: 12px;
}

.alert-icon {
    color: #dc3545;
    font-size: 20px;
    margin-top: 2px;
}

.custom-alert h6 {
    margin: 0;
    font-weight: 700;
    color: #842029;
}
.custom-alert p {
  margin: 4px 0 0;
  color: #842029;
  font-size: 14px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    gap: 35px;
    border-bottom: 1px solid #eee;
}

.nav-tabs .nav-link {
    display: flex;
    align-items: center;
    gap: 8px; 
    color: #6c757d;
    font-weight: 500;
    border: none;
    background: transparent;
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
}
.nav-tabs .nav-link i {
    font-size: 16px;
    opacity: 0.8;
}

.nav-tabs .nav-link.active {
    color: #ff6a00;
}

.nav-tabs .nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ff6a00;
    transition: 0.3s ease;
}
.nav-tabs .nav-link.active::after {
  width: 100%;
}
.contentDinner{
    padding: 40px;
}
.ingredients{
    border-radius: 20px;
}
.ingredients-box {
    background: #fff9ec;
    max-height: 400px;
    overflow-y: auto;
}
.circle {
    width: 28px;
    height: 28px;
    background: #ff6a00;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
}

.instructions-box {
    max-height: 350px;
    overflow-y: auto;
    background: #f8f9fa;
}

.step-box {
    width: 50px;
    height: 50px;
    background: #ff6a00;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    flex-shrink: 0;
}

.instruction-item p {
    margin: 0;
    color: #2c3e50;
    line-height: 1.6;
}

.nutrition-card {
    background: #f1f3f5;
    padding: 15px 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.icon-box {
    width: 45px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.bg-orange { background: #ffe5d0; color: #ff6a00; }
.bg-blue   { background: #dbeafe; color: #2563eb; }
.bg-yellow { background: #fef3c7; color: #d97706; }
.bg-red    { background: #fee2e2; color: #dc2626; }
.bg-green  { background: #dcfce7; color: #16a34a; }
.bg-pink   { background: #fce7f3; color: #db2777; }

.tips-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.tip-item {
    background: #fffbeb;
    padding: 14px 18px;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: center;
    border-left: 5px solid #ffa033;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.check-icon {
    width: 30px;
    height: 30px;
    background: #ff6a00;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;  
    margin-right: 12px; 
    flex-shrink: 0;
    font-size: 13px;
}
.tip-item p {
  margin: 0;
  font-size: 14px;
  color: #2c3e50;
}


.bottomImg{
    right: 40px;
    left: 40px;
    bottom: 10px;
}
